[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = DE
L = Hockessin	
O = UD
CN = ud smart city

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @subject_alternate_names

[subject_alternate_names]
IP.1 = https://192.168.1.245:5000/
DNS.1 =  https://udssc-mainframe:5000/
